---
layout: default
---
<!-- carousel -->
{% include carousel.html %}
<!-- businesses -->
{% include layout1.html img='generator_2.jpg' title="非常用発電機点検" text="人命とライフラインを守る非常用自家発電機の出力確認の負荷運転は消防法で義務付けられております。" %}
{% include layout2.html img='staffing_2.jpg' title="人材派遣" text="北海道内の建築・内装・清掃などの仕事を発注したい法人様とそれらの仕事をしたい個人をマッチングします。" %}
{% include layout2.html reverse=true img="clean_2.jpg" title="清掃業務" text="北海道内の店舗やマンション、アパートなどの清掃業務を引き受けています。法人の方は遠慮せずご相談ください。" %}
{% include layout3.html title="提携先" img1="alsok_logo.png" img2="alsok_hokkaido_logo.png" img3="bm_logo.png" %}
<!-- partners -->
