<section class="carousel-wrapper w-100 position-relative">
    <h1 class="position-absolute top-50 start-50 translate-middle overflow-hidden light">
        <span class="d-block fw-bold text-uppercase text-center mb-3">Quality Solution for Corporates</span>
        <span class="d-block fw-bold text-center">良心・良質・全方位なサービス提供</span>
    </h1>
    <div id="carousel" class="w-100 carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/generator_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/staffing_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clean_1.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</section>