<section class="section section__cta b-light">
    <div class="container text-center">
        <h2 class="margin-bottom-level-6">お申し込み・お問い合わせはこちら</h2>
        <div class="row align-items-center justify-content-center margin-bottom-level-7">
            <p class="tel font-level-2 font-bold col-12 col-md-6 col-lg-4 margin-bottom-level-7 mb-md-0">TEL: 011-594-8026</p>
            <p class="col-12 col-md-6 col-lg-4"><a href="" class="btn btn-white-bg-primary margin-auto">お問い合わせフォームへ</a></p>
        </div>
        <p>お電話での受付時間：平日9:00〜18:00</p>
    </div>
</section>