<footer class="footer w-100 b-primary white">
    <div class="container row">
        <div class="contact-wrapper col-12 col-md-6 d-flex flex-column">
            <p class="mb-2 f-2 fw-bold">TEL: 011-594-8026</p>
            <p class="mb-5 f-2 fw-bold">FAX: 011-594-8026</p>
            <a class="btn btn-white-no-bg-border" href="">お問い合わせ</a>
        </div>
        <div class="footer-nav row col-12 col-md-6 hide-mobile">
            <ul class="col-6">
                <li><a class="nav-link light f-4" href="">ホーム</a></li>
                <li class="text-left"><a class="nav-link light" href="">事業内容</a></li>
                <li><a class="nav-link light f-4 arrow" href="">非常用発電機点検</a></li>
                <li><a class="nav-link light f-4 arrow" href="">人材派遣</a></li>
                <li><a class="nav-link light f-4 arrow" href="">清掃サービス</a></li>
            </ul>
            <ul class="col-6">
                <li><a class="nav-link light f-4" href="">会社案内</a></li>
                <li><a class="nav-link light f-4" href="">採用情報</a></li>
                <li><a class="nav-link light f-4" href="">お問い合わせ</a></li>
                <li><a class="nav-link light f-4" href="">プライバシーポリシー</a></li>
            </ul>
        </div>
    </div>
    <small class="d-block text-center">Copyright 1999-2020 by Uniteq Ltd. All Rights Reserved.</small>
</footer>