<header class="w-100 header">
    <nav class="navbar navbar-expand-lg container">
      <a class="navbar-brand" href="{{site.baseurl}}">
        <img src="{{site.baseurl}}/assets/img/logo.svg" alt="logo">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <button type="button" class="material-icons muted close-menu font-jp-light hide-tablet">close</button>
        <ul class="navbar-nav">
          {% for item in site.data.menu.main_nav %}
            {% if item.url == "#" %}
                <li class="nav-item dropdown">
                    <a href="{{ item.url }}" class="nav-link dropdown-toggle white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.name }}</a>
                    <ul class="dropdown-menu p-0 " aria-labelledby="navbarDropdown">
                        {% for item in site.data.menu.sub_nav %}
                            <li>
                                <a class="dropdown-item font-level-6 padding-level-9 text-center" href="{{item.url}}">{{item.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item"><a href="{{ item.url }}" class="nav-link white">{{ item.name }}</a></li>
            {% endif %}
          {% endfor %}   
        </ul>
      </div>
      <div class="btn-group">
        <button class="navbar-toggler light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons">menu</span>
        </button>
        <button type="button" class="material-icons white">call</button>
        <button type="button" class="material-icons white">email</button>
      </div>
    </nav>
  </header>