<div class="container table-container">
    <h2 class="font-bold dark margin-bottom-level-5">
        <span>会社案内</span>
    </h2>
    <table class="table">
        <tbody>
          <tr>
            <th scope="col">名称</th>
            <td scope="col">株式会社UNITEQ</td>
          </tr>
          <tr>
            <th scope="col">所在地</th>
            <td scope="col">
                <div class="margin-bottom-level-8">
                    <span class="d-block font-bold">札幌本社</span>
                    <span class="d-block">〒063-0832</span>
                    <span class="d-block">札幌市西区発寒12条4丁目8番22号</span>
                    <span class="d-block margin-bottom-level-9">TEL：011-594-8026&nbsp;FAX：011-351-1705</span>
                    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.3777809200105!2d141.29052345104185!3d43.096575079041955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b286340e4e541%3A0x8dda1e0af0ceb360!2s4-ch%C5%8Dme-8-22%20Hassamu%2012%20J%C5%8D%2C%20Nishi%20Ward%2C%20Sapporo%2C%20Hokkaido%20063-0832!5e0!3m2!1sen!2sjp!4v1614209514259!5m2!1sen!2sjp" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div>
                    <span class="d-block font-bold">関東支社</span>
                    <span class="d-block">〒106-0044</span>
                    <span class="d-block">東京都港区東麻布3-8-2 麻布マルカビル7F</span>
                    <span class="d-block margin-bottom-level-9">TEL：011-594-8026</span>
                    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8283339611094!2d139.7352066508179!3d35.6566008801029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b98add87bb1%3A0xa4e09de033dbf192!2z44CSMTA2LTAwNDQgVG9reW8sIE1pbmF0byBDaXR5LCBIaWdhc2hpYXphYnUsIDMtY2jFjW1l4oiSOOKIkjIg6bq75biD44Oe44Or44Kr44OT44OrIDdG!5e0!3m2!1sen!2sjp!4v1614209847382!5m2!1sen!2sjp" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </td>
          </tr>
          <tr>
            <th scope="col">資本金</th>
            <td scope="col">9,000,000円</td>
          </tr>
          <tr>
            <th scope="col">代表取締役</th>
            <td scope="col">大澤　力</td>
          </tr>
          <tr>
            <th scope="col">定休日</th>
            <td scope="col">日・祝・祭日（但し清掃業務は行っております）</td>
          </tr>
          <tr>
            <th scope="col">従業員数</th>
            <td scope="col">200人（パート含む）</td>
          </tr>
          <tr>
            <th scope="col">提携企業</th>
            <td scope="col">Alsok・Alsok北海道株式会社・株式会社ブリッジメディア</td>
          </tr>
        </tbody>
    </table>
</div>