@import "./parameters";
@import "./utilities";

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    position: relative;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: map-get($map: $font-sizes, $key: "level-6");
    line-height: 2.5rem;
    counter-reset: layout;
    z-index: -100;
}
h1, h2, h3, h4 {
    margin: 0;
}
a {
    display: block!important;
    text-decoration: none;
}
ul {
    list-style: none;
}
input, select, textarea {
    display: block;
    width: 100%;
    border-width: 0.1rem;
    border-color: map-get($map: $colors, $key: "muted");
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
img {
    display: block;
}
.hide-mobile {
    display: none;
}
.hide-tablet {
    display: block;
}
@include responsive(lg) {
    .hide-mobile {
        display: block;
    }
    .hide-tablet {
        display: none;
    }
}
.margin-zero-mobile {
    margin: 0;
}
.row {
    margin: 0;
    & > * {
        padding: 0;
    }
}
.container {
    width: 100%;
    min-width: 35rem;
    margin: 0 auto!important;
    padding-left: map-get($map: $paddings, $key: "level-7");
    padding-right: map-get($map: $paddings, $key: "level-7");
}
@include responsive(lg) {
    .container {
        width: 80%;
        max-width: 120rem;
        padding: 0;
    }
}
.card {
    border: none;
}
textarea::placeholder {
    font-size: map-get($map: $font-sizes, $key: "level-6");
}

// ================= utility classes =====================
.en {
    font-family: 'Open Sans', sans-serif;;
}
// font sizes
@each $name, $size in $font-sizes {
    .font-#{$name} {
        font-size: $size;
    }
}
// font weights
@each $weight, $value in $weights {
    .font-#{$weight} {
        font-weight: $value;
    }
}

// paddings
@each $name, $size in $paddings {
    .padding-#{$name} {
        padding: $size;
    }
    .padding-top-#{$name} {
        padding-top: $size;
    }
    .padding-bottom-#{$name} {
        padding-bottom: $size;
    }
    .padding-left-#{$name} {
        padding-left: $size;
    }
    .padding-right-#{$name} {
        padding-right: $size;
    }
}

// margins
@each $name, $size in $margins {
    .margin-#{$name} {
        margin: $size;
    }
    .margin-top-#{$name} {
        margin-top: $size;
    }
    .margin-bottom-#{$name} {
        margin-bottom: $size;
    }
    .margin-left-#{$name} {
        margin-left: $size;
    }
    .margin-right-#{$name} {
        margin-right: $size;
    }
}

// colors
@each $color, $value in $colors {
    .#{$color} {
        color: $value;
    }
    .b-#{$color} {
        background-color: $value;
    }
}

// buttons
.btn {
    border: none;
    border-radius: 10rem!important;
    font-size: map-get($map: $font-sizes, $key: "level-6");
    width: 13rem!important;
    padding: map-get($map: $paddings, $key: "level-10");
    &.btn-primary-no-bg {
        width: auto;
        padding: 0;
    }
}
@each $type, $style in $buttons {
    .btn-#{$type} {
        color: map-get($map: $style, $key: "color");
        background-color: map-get($map: $style, $key: "bg-color");
        border: map-get($map: $style, $key: "border");
    }
}
.btn-group {
    * {
        flex-grow: 0!important;
    }
}