@import "./utilities";

.layout {
    text-align: center;
    margin-bottom: map-get($map: $margins, $key: "level-3");
    counter-increment: layout;
    img {
        width: 100%;
    }
    .img-container {
        position: relative;
        margin-bottom: map-get($map: $margins, $key: "level-6");
    }
    h2 {
        margin-bottom: map-get($map: $margins, $key: "level-7");;
        span {
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 30%;
                height: 0.3rem;
                background-color: map-get($map: $colors, $key: "secondary");
                position: absolute;
                left: 0;
                bottom: -1.8rem;
            }
        }
    }
    .circle {
        content: "";
        display: block;
        width: 6rem;
        height: 6rem;
        border-bottom-right-radius: 6rem;
        background-color: map-get($map: $colors, $key: "white");
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        .num {
            &::after {
                content: "0"counter(layout);
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-50%, -30%);
            }
        }
    }
    .text-container {
        text-align: center;
        p {
            margin-bottom: map-get($map: $margins, $key: "level-8");
        }
        @include responsive(md) {
            text-align: left;
        }
    }
    &.layout1 {
        & > .container {
            width: 100%;
            padding: 0;
        }
        .bars {
            position: relative;
            img {
                width: 71%;
            }
            &::before, &::after {
                content: "";
                display: block;
                height: 100%;
                background-color: map-get($map: $colors, $key: "primary");
                position: absolute;
                top: 0;
            }
            &::before {
                width: 8%;
                right: 18%;
            }
            &::after {
                width: 15%;
                right: 0;
            }
        }
        @include responsive(md) {
            .bars {
                img {
                    width: 84%;
                }
                &::before {
                    width: 4%;
                    right: 10%;
                }
                &::after {
                    width: 8%;
                }
            }
        }
        @include responsive(lg) {
            .bars {
                img {
                    width: 71%;
                }
                &::before {
                    width: 8%;
                    right: 18%;
                }
                &::after {
                    width: 15%;
                }
            }
        }
        @include responsive(md) {
            & > .container {
                width: 80%;
                position: relative;
                left: 10%;
            }
            .img-container {
                order: 2;
            }
            // disable container width on text-container
            .text-container {
                order: 1;
                width: 50%;
                position: absolute;
                top: 50%;
                left: -10%;
                transform: translateY(-50%);
            }
        }
    }
    &.layout2 {
        position: relative;
        padding: map-get($map: $paddings, $key: "level-2") 0;
        margin-bottom: 0;
        z-index: 1;
        // pale bg
        &::before {
            content: "";
            display: block;
            width: 50%;
            height: 100%;
            background-color: map-get($map: $colors, $key: "light");
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            @include responsive(md) {
                width: 30%;
            }
        }
        .img-container {
            position: relative;
            z-index: 100;
            margin-bottom: map-get($map: $margins, $key: "level-5");
            img {
                position: relative;
                z-index: 0;
            }
            // primary bg
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: calc(1 / 8 * 100% + 50%);
                height: 100%;
                background: map-get($map: $colors, $key: "primary");
                left: calc(-1 / 8 * 100%);
                top: calc(1 / 8 * 272.66 / 181.72 * 100%);
                z-index: 0;
            }
            // dots bg
            .dots {
                position: absolute;
                width: auto;
                height: 100%;
                right: calc(-181.72 / 272.66 * 100% / 3 - 0.5rem);
                top: calc(-100% / 3 + 0.5rem);
                z-index: -1;
                @include responsive(md) {
                    height: 60%;
                    top: calc(-100% / 3 * 0.6 + 0.3rem);
                    right: calc(-181.72 / 272.66 * 100% / 3 * 0.6 - 0.3rem);
                }
            }
        }
        .text-container {
            padding: 0;
            @include responsive(md) {
                padding-left: map-get($map: $paddings, $key: "level-4");
            }
            @include responsive(lg) {
                padding-left: map-get($map: $paddings, $key: "level-3");
            }
        }
        // num postion
        .circle {
            border-bottom-right-radius: 0;
            border-top-left-radius: 6rem;
            left: auto;
            top: auto;
            right: 0;
            bottom: 0;
            .num {
                &::after {
                    left: auto;
                    top: auto;
                    right: 0;
                    bottom: 0;
                    transform: translate(50%, 30%);
                }
            }
        }
        &.reverse {
            // pale bg
            &::before {
                left: auto;
                right: 0;
            }
            // num postion
            .circle {
                border-top-left-radius: 0;
                border-top-right-radius: 6rem;
                right: auto;
                left: 0;
                .num {
                    &::after {
                        right: auto;
                        left: 0;
                        transform: translate(-50%, 30%);
                    }
                }
            }
            .text-container {
                order: 2;
                padding-left: 0;
                @include responsive(md) {
                    padding-right: map-get($map: $paddings, $key: "level-4");
                }
                @include responsive(lg) {
                    padding-right: map-get($map: $paddings, $key: "level-3");
                }
            }
            .img-container {
                order: 1;
                // primary bg
                &::before {
                    left: auto;
                    right: calc(-1 / 8 * 100%);
                }
                // dots bg
                .dots {
                    right: auto;
                    left: calc(-181.72 / 272.66 * 100% / 3 - 0.5rem);
                    @include responsive(md) {
                        left: calc(-181.72 / 272.66 * 100% / 3 * 0.6 - 0.3rem);
                    }
                }
            }
            @include responsive(md) {
                .text-container {
                    order: 1;
                }
                .img-container {
                    order: 2;
                }
            }
        }
    }
    &.layout3 {
        margin-bottom: 0;
        padding: map-get($map: $paddings, $key: "level-2") 0;
        .col-4 {
            margin-bottom: map-get($map: $margins, $key: "level-7");
            &:last-child {
                margin-bottom: 0;
            }
            img {
                border-bottom: 0.5rem solid map-get($map: $colors, $key: "primary");
            }
        }
        @include responsive(md) {
            .col-4 {
                &:nth-child(3n+1) {
                    padding-left: 0;
                    padding-right: 6%;
                }
                &:nth-child(3n+2) {
                    padding-left: 3%;
                    padding-right: 3%;
                }
                &:nth-child(3n) {
                    padding-right: 0;
                    padding-left: 6%;
                }
            }
        }
    }
}